<h1>Bundesliga Tabelle 2022/2023</h1>
<div class="table-container">
  <table class="bundesliga-table">
    <tr class="table-header">
      <th id="team" scope="col">Verein</th>
      <th id="spiele" scope="col">Sp</th>
      <th id="siege" scope="col">S</th>
      <th id="unentschieden" scope="col">U</th>
      <th id="niederlagen" scope="col">N</th>
      <th id="tore" scope="col">T</th>
      <th id="gegentore" scope="col">GT</th>
      <th id="tordifferenz" scope="col">TD</th>
      <th id="punkte" scope="col">Pkte</th>
      <th id="letzte5" scope="col">Letzte 5</th>
    </tr>
    <tr *ngFor="let team of table" class="table-row">
      <td class="verein" headers="team">
        <div class="verein-container">
          <span class="platz" data-cy="platz">{{team.platz}}.</span>
          <img [src]="team.wappen" class="wappen" alt="Vereinswappen" data-cy="wappen">
          <span data-cy="teamname">{{team.team}}</span>
        </div>
      </td>
      <td headers="spiele">
        <span data-cy="spiele">{{team.spiele}}</span>
      </td>
      <td headers="siege">
        <span data-cy="siege">{{team.siege}}</span>
      </td>
      <td headers="unentschieden">
        <span data-cy="unentschieden">{{team.unentschieden}}</span>
      </td>
      <td headers="niederlagen">
        <span data-cy="niederlagen">{{team.niederlagen}}</span>
      </td>
      <td headers="tore">
        <span data-cy="tore">{{team.tore}}</span>
      </td>
      <td headers="gegentore">
        <span data-cy="gegentore">{{team.gegentore}}</span>
      </td>
      <td headers="tordifferenz">
        <span data-cy="tordifferenz">{{team.tordifferenz}}</span>
      </td>
      <td headers="punkte">
        <span class="fw-bold" data-cy="punkte">{{team.punkte}}</span>
      </td>
      <td headers="letzte5">
        <span data-cy="letzte5">{{team.letzte5}}</span>
      </td>
    </tr>
  </table>
</div>
